<launch>

	<node name="cameranode" pkg="GAIA-drone-control" type="cameranode.py" output="screen"/>

	<node name="cardetectionnode" pkg="GAIA-drone-control" type="cardetectionnode.py" output="screen"/>

	<node name="feedbackcontrolnode" pkg="GAIA-drone-control" type="feedbackcontrolnode.py" output="screen"/>

	<include file="$(find GAIA-drone-control)/launch/mavros-telem-drone.launch"></include>

</launch>
